.navbar-header > .navbar-brand {
  font-size: 16px;
}

.navbar-brand {
  font-size: 14px;
}

.fb-like {
  float: right;
  line-height: 35px;
}

.container {
  padding: 100px 15px;
}

#result, #lottery_result, #chart {
  margin: 30px 0;
}

#lottery_result {
  display: none;
}

.button_group {
  float: right;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.tr_center {
  text-align: center;
}

.article_td_1 {
  width: 79%;
}

.article_td_2, .article_td_3, .article_td_4 {
  width: 7%;
}

.like_td_1, .like_td_2, .share_td_1, .share_td_2 {
  width: 50%;
}

.comment_td_1 {
  width: 10%;
}

.comment_td_2 {
  width: 15%;
}

.comment_td_3 {
  width: 65%;
}

.comment_td_4 {
  width: 10%;
}

#loading-little {
    top: 0px;
    position: fixed;
    z-index: 9999999;
}

#success-notification {
    background-color: #d9f2f2;
    color: #000000;
    display: none;
    height: 50px;
    line-height: 50px;
    opacity: 0.9;
    position: fixed;
    text-align: center;
    top: 0px;
    width: 100%;
    z-index: 9999999;
}

#warning-notification {
    background-color: #FFB6C1;
    color: #000000;
    display: none;
    height: 50px;
    line-height: 50px;
    opacity: 0.9;
    position: fixed;
    text-align: center;
    top: 0px;
    width: 100%;
    z-index: 9999999;
}
